
#view{
    display: none;
}
#passview{
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #a9a9a9;

}
#image1{
    width: 500px;
    height: 200px;
}
#account{
    position:absolute;
    text-align: center;
    left:0px;
    top: 200px;
    width: 500px;
    height: 30px;
    background-color: aliceblue;

}
#account1{
    position:absolute; 
    top: 235px;
    left:0px;
    width: 500px;
    height: 30px;
}
#password{
    position:absolute;
    text-align: center;
    left:0px;
    top: 270px;
    width: 500px;
    height: 30px;
    background-color: aliceblue;
}

#password1{
    position:absolute;
    left:0px;
    top: 305px;
    width: 500px;
    height: 30px;
}
#callback{
    position:absolute;
    text-align: center;
    left:0px;
    top: 340px;
    width: 500px;
    height: 60px;
    background-color: rgb(79, 102, 122);
}
#loginn{
    position:absolute;
    text-align: center;
    left:0px;
    top: 405px;
    width: 500px;
    height: 60px;
}
#body33{
    background-color: rgb(54, 53, 53);

}
#jump{
    position:absolute;
    left: 1750px;
    width: 100px;
    height: 930px;

}

#jumpBt{
    position:absolute;
    width: 100px;
    height: 50px;
}

#room0{
    position:absolute;
    top: 120px;
    width: 100px;
    height: 50px;
    border: 10px solid ;
    left: -2px;
    border-color: rgb(126, 51, 126);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

#room1{
    position:absolute;
    top: 180px;
    width: 100px;
    height: 50px;
    border: 10px solid ;
    left: -2px;
    border-color: rgb(250, 238, 66);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

#room2{
    position:absolute;
    top: 240px;
    width: 100px;
    height: 50px;
    border: 10px solid ;
    left: -2px;
    border-color: rgb(245, 54, 54);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

#room3{
    position:absolute;
    top: 300px;
    width: 100px;
    height: 50px;
    border: 10px solid ;
    left: -2px;
    border-color: rgb(0, 192, 10);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
#room4{
    position:absolute;
    top: 360px;
    width: 100px;
    height: 50px;border: 10px solid ;
    left: -2px;
    border-color: rgb(30, 80, 247);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;

}

#room5{
    position:absolute;
    top: 420px;
    width: 100px;
    height: 50px;
    border: 10px solid ;
    left: -2px;
    border-color: rgb(241, 149, 9);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}


.banana{  
    position:absolute;
    top: 880px;
    width: 100px;
    height: 50px;
}



#login{
    background-color: rgb(54, 53, 53);

}

#帳號{
    position: absolute;
    top: 20;
    width: 350;
    height: 50;
    left: 25;
    font-size: 30;
    background-color: rgb(218, 142, 55);
    color: rgb(255, 255, 255);
    text-align:center;

    
}

#帳號輸入{
    position: absolute;
    top: 80;
    width: 350;
    height: 50;
    left: 25;
    font-size: 20;
}

#密碼{
    position: absolute;
    top: 140;
    width: 350;
    height: 50;
    left: 25;
    font-size: 30;
    background-color: rgb(218, 142, 55);
    color: rgb(255, 255, 255);
    text-align:center; 
}

#密碼輸入{
    position: absolute;
    top: 200;
    width: 350;
    height: 50;
    left: 25;
    font-size: 20;
}

#提示{
    position: absolute;
    top: 260;
    width: 350;
    height: 50;
    left: 25;
    text-align:center; 
}
#loginbox
{   
    width: 400;
    height: 500;
    background-color: rgb(194, 64, 64);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -200px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

#logBT{
    position:absolute;
    bottom: 20px;
    width: 350;
    height: 50;
    left: 25;
}

#drawImage{
    position:absolute;
    top: 760;
    width: 100px;
    height: 50px;

}
#jumpBt2{
    position:absolute;
    top: 60;
    width: 100px;
    height: 50px;
}
#shot{
    position:absolute;
    top: 700;
    width: 100px;
    height: 50px;
}



.video{
    position: absolute;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 1700px;
    height: 930px;
    visibility: hidden;
}

.buttonhub{
    position: absolute;
    top: 1000px;
    left: 1750px;
    width: 100px;
    height: 930px;
}

#Canvas{
    position: absolute;
    
}

#preview{
    position: absolute;
    top: 1000px;
    border: 20px solid rgb(209, 80, 80);
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 1700px;
    height: 930px;

}

#tabe{
    position: absolute;
    top:30px;
    left: 100px;
    width: 740;
    height: 40;
    font-size: 20;
    background-color: rgb(209, 80, 80);
    color: rgb(255, 255, 255);
    text-align:center;
    
}

#tabe2{
    position: absolute;
    top:70px;
    left: 70px;
    width: 770;
    height: 40;
    font-size: 20;
    background-color: rgb(209, 80, 80);
    color: rgb(255, 255, 255);
    text-align:center;
}

#dratabe{
    position: absolute;
    width: 100;
    height: 30;
    font-size: 20;
    background-color: rgb(209, 80, 80);
    color: rgb(255, 255, 255);
    text-align:center;
}

#dratabe2{
    position: absolute;
    top:80px;
    width: 100;
    height: 30;
    font-size: 20;
    background-color: rgb(209, 80, 80);
    color: rgb(255, 255, 255);
    text-align:center;
}

#width{
    position: absolute;
    top:40px;
    width: 100;
    height: 30;
}
#R{
    position: absolute;
    top:120px;
    width: 100;
    height: 30;
}
#G{
    position: absolute;
    top:160px;
    width: 100;
    height: 30;
}
#B{
    position: absolute;
    top:200px;
    width: 100;
    height: 30;
}

#dratabe3{
    position: absolute;
    top:240px;
    width: 90;
    height: 20;
    font-size: 20;
    text-align:center;
    border : 5px solid rgb(250, 250, 250);
    background-color: rgb(250, 0, 0);
}


#upload {
    position: absolute;
    top:820px;
    width: 100;
    height: 50;
}



#dra{
    position: absolute;
    top:320px;
    width: 100;
    height: 30;
}

#box{
    position: absolute;
    top:360px;
    width: 100;
    height: 30;
}
#ring{
    position: absolute;
    top:400px;
    width: 100;
    height: 30;
}
#mods{
    position: absolute;
    top:280px;
    width: 100;
    height: 30;
    font-size: 20;
    background-color: rgb(209, 80, 80);
    color: rgb(255, 255, 255);
    text-align:center;

}

#colorBR{
    position: absolute;
    top:440px;
    width: 100;
    height: 30;
    font-size: 20;
    background-color: rgb(209, 80, 80);
    color: rgb(255, 255, 255);
    text-align:center;
}

#紅{
    position: absolute;
    top:480px;
    height: 30;
    width: 45;
    background-color: rgb(255, 0, 0);
}
#黃{
    position: absolute;
    top:480px;
    left: 55;
    height: 30;
    width: 45;
    background-color: rgb(255, 255, 0);
}
#綠{
    position: absolute;
    top:520px;
    height: 30;
    width: 45;
    background-color: rgb(0, 255, 0);
}
#粉{
    position: absolute;
    top:520px;
    left: 55;
    height: 30;
    width: 45;
    background-color: rgb(245, 151, 151);
}

#testInput{
    position: absolute;
    top:30;
    width: 100px;
    height: 40px;
    
}


#messageBox{
    position: absolute;
    left: 805;
    width: 400;
    height: 800;
    border: 5px solid #00bfff;
}

#message{
    position: absolute;
    width: 400;
    height: 770;
    
    

}

#inputM{
    position: absolute;
    bottom:0;
    width: 350;
    min-height: 30;
    overflow: hidden;
    font-size: 15;
    padding: 0;

}

#sand{
    position: absolute;
    top: 770;
    width: 50;
    height: 30;
    left: 350;
    background-color: #87cefa;
}

#table{
    position: absolute;
    top:120;
    width: 100;
    height: 680;
}
#fileFile{
    position: absolute;
    top: 80;
    
    
}